# Node modules
node_modules/

# TypeScript
/dist/
/*.tsbuildinfo

# Logs
*.log

# .env file
.env

# Google Cloud Credentials JSON
gcloud-credentials.json

# OS specific files
.DS_Store
Thumbs.db

# npm package lock
package-lock.json

# Optional IDE configurations
.vscode/
.idea/

assets/songs/input_files/*.mp3